
header {
  text-align: center;
  font-family: sans-serif, helvetica;
  background-color: lightsteelblue;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: lightsteelblue;
  padding: 10px;
}

.image {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}

body {
  background: cornsilk;
}

.text {
  color: #605252;
  text-align: center;
  width: 450px;
  margin: 0 auto;
  font-family: Trebuchet MS, sans-serif, helvetica;
  font-size: 17px
}

.list {
  text-align: left;
  margin-left: 30%;
  height: 100px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: #a206a2;
}
