
header {
  text-align: center;
  font-family: sans-serif, helvetica;
  background-color: lightsteelblue;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: lightsteelblue;
  padding: 10px;
}

.image {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}

body {
  background-color: cornsilk;
}

.text {
  text-align: center;
  width: 450px;
  margin: 0 auto;
  font-family: Trebuchet MS, sans-serif, helvetica;
  font-size: 17px
}

.list {
  text-align: left;
  margin-left: 30%;
}
